/*Fonts=================================================================*/
@font-face {
    font-family: 'proxima nova light';
    src: url(../fonts/proxima-nova-light/proximanova-light-webfont.eot) format('embedded-opentype'), 
    url(../fonts/proxima-nova-light/proximanova-light-webfont.woff) format('woff'), 
    url(../fonts/proxima-nova-light/proximanova-light-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'proxima nova semibold';
    src: url(../fonts/proxima-nova-semibold/proximanova-semibold-webfont.woff2) format('woff2'), 
    url(../fonts/proxima-nova-semibold/proximanova-semibold-webfont.woff) format('woff'), 
    url(../fonts/proxima-nova-semibold/Proxima-Nova-Semibold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'proxima nova bold';
    src: url(../fonts/proxima-nova-bold/proximanova-bold-webfont.eot) format('embedded-opentype'), 
    url(../fonts/proxima-nova-bold/proximanova-bold-webfont.woff) format('woff'), 
    url(../fonts/proxima-nova-bold/proximanova-bold-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
/*Reset================================================================*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}
/*Page=================================================================*/
html {
    background: #ffffff;
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "proxima nova light", Arial, Sans-serif;
    background-color: transparent;
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333;
    text-rendering: optimizeLegibility;
}

/*Header===============================================================*/
#header{
    background: #111;
    height: 62px;
    padding: 0 5%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}
header nav {
    display: none;
    background: #222222;
    position: absolute;
    top: 62px;
    right: 0px;
    z-index: 1000;
    width: 100%;
    font-size: 24px;
    font-size: 2.4rem;
    text-align: center;
}
  header nav li {
    height: 6.4rem;
    list-style: none;
    display: block;
    border-top: #212121 solid 1px;
    border-bottom: #363636 solid 1px;
}
  header nav li a {
    display: block;
    color: #FFF;
    line-height: 6.4rem;
    text-decoration: none;
}
@media only screen and (min-width: 830px) {

    #header {
      background: #111;
      height: 92px;
    }
    #header nav {
      float: right;
      display: block;
      font-size: 16px;
      font-size: 1.6rem;
      position: static;
      background: transparent;
      width: auto;
    }
    #header nav li {
      display: inline-block;
      float: left;
      position: relative;
      height: 92px;
      border: 0px;
    }
    #header nav li a {
      display: block;
      color: #FFF;
      line-height: 92px;
      padding: 0 1em;
      text-decoration: none;
    }
    #header nav li:hover a,
    #header nav .current_page_item a,
    #header nav .current_page_parent a {
      color: #757575;
    }
    #header nav .portfolio .current_page_parent a {
      color: #ffffff;
    }
    #header nav .portfolio .page-item-7 a {
      color: #757575;
    }
    #header .icon-nav {
      display: none;
    }
}